<!--<div>-->
    <!--<div class="col s2 right-align">1</div>-->
    <!--<div class="col s2 right-align">2</div>-->
    <!--<div class="col s2 right-align">3</div>-->
    <!--<div class="col s2 right-align">4</div>-->
    <!--<div class="col s2 right-align">5</div>-->
    <!--<div class="col s2 right-align">6</div>-->
<!--</div>-->
<div class="progress mt-progress">
    <div class="determinate" ng-style="$ctrl.currentProgressStyle"></div>
    <span class="mt-progress-text">{{$ctrl.currentProgress}}%</span>
</div>