<div ng-if="$ctrl.currentStep === 13" class="row booking-sidebar" style="margin-bottom: 0">
    <hr>
    <h2 class="blue-text center test" ng-if="!$ctrl.airnbn">The MaidThis Clean Home Plan</h2>

    <h2 class="blue-text center" ng-if="$ctrl.airnbn">MaidThis’s Vacation Rental Cleaning Plan</h2>

    <p class="h3 grey-text center control" style="padding: 15px 0px;">Make sure everything set up great and exactly how you want it, press book now and relax.</p>
    <p class="h3 grey-text center test" style="padding: 15px 0px;">Does everything below look correct? Don’t worry, you can sign in and change it up or cancel at any time!</p>
    <div ng-show="$ctrl.loadingEstimate" class="center-align">
        <div class="preloader-wrapper big active">
            <div class="spinner-layer spinner-blue-only">
            <div class="circle-clipper left">
                <div class="circle"></div>
            </div><div class="gap-patch">
                <div class="circle"></div>
            </div><div class="circle-clipper right">
                <div class="circle"></div>
            </div>
            </div>
        </div>
    </div>

    <div ng-if="!$ctrl.loadingEstimate" class="loading-estimate">

        <div class="row">
            <div class="col s1 m1"><i class="icon-casa blue-text"></i></div>
            <div class="col s11 m6"><h4 class="bold-text">{{$ctrl.bookingInfo.service}}</h4></div>
        </div>

        <div class="row">
            <div class="col s1 m1"><i class="icon-calendario blue-text"></i></div>
            <div class="col s11 m6"><h4 class="bold-text">{{$ctrl.bookingInfo.date}}</h4></div>
        </div>

        <div class="row" ng-if="!$ctrl.airnbn">
            <div class="col s1 m1"><i class="icon-flechas blue-text"></i></div>
            <div class="col s11 m6"><h4 class="bold-text">{{$ctrl.bookingInfo.frequency}}</h4></div>
        </div>

        <div class="row" ng-if="$ctrl.bookingInfo.extras.length">
            <h4 class="h2 center grey-text">Extras:</h4>
            <div class="col s12" style="padding-top: 15px">
                <div class="row" ng-repeat="extra in $ctrl.bookingInfo.extras">
                    <div class="col s1 m1"><i class="icon-{{extra.icon}} blue-text"></i></div>
                    <div class="col s11 m6"><h4 class="bold-text"><span ng-if="extra.quantity_based">( {{extra.quantity}} )</span> {{extra.name}}</h4></div>
                </div>
            </div>
        </div>

        <div class="row" style="padding: 0px 20px; margin: 0">
            <p class="center" style="padding: 0; margin-bottom: 15px;">
                <span class="h3">TODAY's TOTAL</span> <span class="h2 blue-text">{{$ctrl.estimateInfo.total | currency}}</span>
            </p>
            <!-- <p class="tooltiptextimg test">If you’re not completely satisfied with your service, just let us know within 24 hours of your cleaning. We’ll re-clean any spots missed, free of charge!</p> -->
        </div>

    </div>

    <div class="booking-form i-understand-checkboxes">
        <div class="row">
            <div class="col s12 m12">
                <h3 class="blue-text center test">FOUR THINGS TO REMEMBER FOR AN AWESOME EXPERIENCE</h3>

                <div class="input-field">
                    <input type="checkbox" id="checkbox1" name="checkbox1" class="validate" ng-model="$ctrl.steps[6].checkbox1" ng-required="true">
                    <label for="checkbox1">I understand that there is a 1 hour arrival window because LA traffic sucks and MaidThis can’t afford helicopters (yet).</label>
                </div>
                <div class="input-field">
                    <input type="checkbox" id="checkbox2" name="checkbox2" class="validate" ng-model="$ctrl.steps[6].checkbox2" ng-required="true">
                    <label for="checkbox2">I understand that sometimes I will get one cleaner and sometimes I will get two cleaners, either way, they will all be amazing!</label>
                </div>
                <div class="input-field">
                    <input type="checkbox" id="checkbox3" name="checkbox3" class="validate" ng-model="$ctrl.steps[6].checkbox3" ng-required="true">
                    <label for="checkbox3">I understand that the cleaner will be either male OR female, but I won’t make things weird by requesting one or the other.</label>
                </div>
                <div class="input-field">
                    <input type="checkbox" id="checkbox4" name="checkbox4" class="validate" ng-model="$ctrl.steps[6].checkbox4" ng-required="true">
                    <label for="checkbox4">I understand that if I want to take advantage of MaidThis’s <span class="newTooltip test">AMAZING SATISFACTION GUARANTEE<span class="tooltiptext">If you’re not completely satisfied with your service, just let us know within 24 hours of your cleaning. We’ll re-clean any spots missed, free of charge!</span></span>, I have to be around to do a walk-through with the cleaners after the cleaning.</label>
                </div>
            </div>
        </div>
    </div>

</div>