<!-- Step 1 -->
<form name="f_step_1" ng-show="$ctrl.currentStep === 1">
    <ng-include src="'booking-new/bookingForm.step1.html'"></ng-include>
</form>

<!-- Step 2 -->
<form name="f_step_2" ng-show="$ctrl.currentStep === 2">
    <ng-include src="'booking-new/bookingForm.step2.html'"></ng-include>
</form>

<!-- Step 3 -->
<form name="f_step_3" ng-show="$ctrl.currentStep === 3">
    <ng-include src="'booking-new/bookingForm.step3.html'"></ng-include>
</form>

<!-- Step 4 -->
<form name="f_step_4" ng-show="$ctrl.currentStep === 4">
    <ng-include src="'booking-new/bookingForm.step4.html'"></ng-include>
</form>

<!-- Step 5 -->
<form name="f_step_5" ng-show="$ctrl.currentStep === 5">
    <ng-include src="'booking-new/bookingForm.step5.html'"></ng-include>
</form>

<!-- Step 6 -->
<form name="f_step_6" ng-show="$ctrl.currentStep === 6">
    <ng-include src="'booking-new/bookingForm.step6.html'"></ng-include>
</form>

<!-- Step 7 -->
<form name="f_step_7" ng-show="$ctrl.currentStep === 7">
    <ng-include src="'booking-new/bookingForm.step7.html'"></ng-include>
</form>

<!-- Step 8 -->
<form name="f_step_8" ng-show="$ctrl.currentStep === 8">
    <ng-include src="'booking-new/bookingForm.step8.html'"></ng-include>
</form>

<!-- Step 9 -->
<form name="f_step_9" ng-show="$ctrl.currentStep === 9">
    <ng-include src="'booking-new/bookingForm.step9.html'"></ng-include>
</form>

<!-- Step 10 -->
<form name="f_step_10" ng-show="$ctrl.currentStep === 10">
    <ng-include src="'booking-new/bookingForm.step10.html'"></ng-include>
</form>

<!-- Step 11 -->
<form name="f_step_11" ng-show="$ctrl.currentStep === 11">
    <ng-include src="'booking-new/bookingForm.step11.html'"></ng-include>
</form>

<!-- Step 12 -->
<form name="f_step_12" ng-show="$ctrl.currentStep === 12">
    <ng-include src="'booking-new/bookingForm.step12.html'"></ng-include>
</form>

<!-- Step 13 -->
<form name="f_step_13" ng-show="$ctrl.currentStep === 13">
    <ng-include src="'booking-new/bookingForm.step13.html'"></ng-include>
</form>