<div class="row center-align" style="margin-top: 25px;">

    <div class="col s12 m6 l4 booking-extra" ng-repeat="extra in $ctrl.extras" ng-if="extra.id !== 16 && extra.id !== 39 && extra.id !== 40" style="min-height: 145px;">
        <button class="booking-btn booking-btn-large mt-booking-btn-large waves-effect waves-light" ng-click="$ctrl.toggleSelect(extra.id)" ng-if="!$ctrl.isQuantity(extra.id)"
            ng-class="{'blue': $ctrl.isSelected(extra.id), 'grey lighten-1': !$ctrl.isSelected(extra.id)}">
            <i class="icon-{{$ctrl.icons[extra.id]}}"></i>
            <div class="input-field" ng-if="$ctrl.isQuantity(extra.id)">
                <i class="icon-{{$ctrl.icons[extra.id]}} prefix"></i>
                <input id="icon_telephone" type="number" style="margin-bottom: 0px" ng-model="$ctrl.quantities[extra.id]" min="{{$ctrl.extrasWithQuantityIds[extra.id].min}}"
                       ng-min="$ctrl.extrasWithQuantityIds[extra.id].min" ng-change="$ctrl.setQuantity(extra.id)">
            </div>

            <p class="center-align grey-text">{{ extra.name }}</p>

            <div ng-if="extra.id === 27" class="newTooltip test">Cost & More Info
                <span class="tooltiptext"><strong>Only $30 extra!</strong><br>The place where your food is stored and cooked has GOTTA be finger-lickin' clean. Select this extra to make sure you're living healthier and better!</span>
            </div>

            <div ng-if="extra.id === 10 || extra.id === 15" class="newTooltip test">Cost & More Info
                <span class="tooltiptext"><strong>$40 for Studio to 3BR homes. $60 extra for 4BR+ homes.</strong><br>Have you gone shower blind? Didn't even notice those disgusting rings in your bath, or the grime along your kitchen stove? If you don't notice this, you don’t need this... but if it makes you crazy every time see it - let’s get this party started! The cleaner will spend about an hour extra between your bathroom/kitchen to get it in shape!</span>
            </div>

            <div ng-if="extra.id === 2 || extra.id === 20" class="newTooltip test">Cost & More Info
                <span class="tooltiptext"><strong>$30 for Studio to 3BR homes. $50 extra for 4BR+ homes.</strong><br>See the world clearly again! Don’t be trapped in your home - enjoy the beauty around you through crystal clear window. Basic window dusting in included in the basic package, but the cleaner will use super top-secret cleaning solution to make sure you see the world better... just click this extra!</span>
            </div>

            <div ng-if="extra.id === 38 || extra.id === 37" class="newTooltip test">Cost & More Info
                <span class="tooltiptext"><strong>$80 for Studio to 3BR homes. $120 extra for 4BR+ homes.</strong><br>Do you look around your home and think 'wow I really haven't had this place cleaned in MONTHS?' Want to restore your home to its long-lost glory?! If so, click this extra! You’ll get about 2 hours of extra time by the cleaner to focus on the dirtiest areas of the home: kitchen, bathrooms, and living room. In addition you’ll get the inside fridge and oven professionally cleaned too!</span>
            </div>

            <div ng-if="extra.id === 28" class="newTooltip test">Cost & More Info
                <span class="tooltiptext"><strong>Only $20 for 30 min!</strong><br>You should be relaxing, not worrying about your dirty dishes! Instead of scrubbing old food off your pots, click this extra and spend that newfound time on yourself!</span>
            </div>

            <div ng-if="extra.id === 12" class="newTooltip test">Cost & More Info
                <span class="tooltiptext">Embarrassed to invite friends over because of the gross stains, pet hair and general disgusting-ness lurking in your carpets? Take charge - live life and let us bring back that new home feel! Just click this extra and we’ll get your carpet looking brand new</span>
            </div>
        </button>
    </div>
</div>