<div ng-if="!$ctrl.airnbn">
    <h2 class="center mt-slide-title">Will someone be there to let the cleaner in?</h2>

    <div class="booking-form">
        <div class="row">
            <div class="col s12 m10 offset-m1">
                <div class="row">
                    <div class="col s12 m6 l6 booking-frequency center-align">
                        <button ng-click="$ctrl.setSomeoneHome('Yes', true)" class="booking-btn mt-booking-hear-btn mt-service-btn waves-effect waves-light"
                                ng-class="{ 'blue': $ctrl.steps[5].someone_home === 'Yes' }">
                            <img class="mt-hear-img" ng-src="booking-new/images/someone-yes.png" alt="Yes">
                            <span class="h3">Yes</span>
                        </button>
                    </div>
                    <div class="col s12 m6 l6 booking-frequency center-align">
                        <button ng-click="$ctrl.setSomeoneHome('No', false)" class="booking-btn mt-booking-hear-btn mt-service-btn waves-effect waves-light"
                                ng-class="{ 'blue': $ctrl.steps[5].someoneNotHome }">
                            <img class="mt-hear-img" ng-src="booking-new/images/someone-no.png" alt="No">
                            <span class="h3">No</span>
                        </button>
                    </div>
                </div>
                <style>
                    input.cleaners-be-able-input::-webkit-input-placeholder,
                    input.cleaners-be-able-input::-moz-placeholder,
                    input.cleaners-be-able-input:-ms-input-placeholder,
                    input.cleaners-be-able-input:-moz-placeholder,
                    input.cleaners-be-able-input::placeholder{
                        color: #b5b5b5 !important;
                        font-weight: bold !important;
                    }
                </style>
            <input class="cleaners-be-able-input" type="text" ng-show="$ctrl.steps[5].someoneNotHome" ng-model="$ctrl.steps[5].someone_home" ng-required="true" placeholder="How will the cleaners be able to get in?" />
                <h4 class="center">In order for our <span class="newTooltip">100% Satisfaction Guarantee <span class="tooltiptext">If you are not 100% satisfied with your cleaning, contact us within 24 hours of the cleaning and we'll send someone back to fix any areas missed for free!</span></span> to apply, someone will need to do a walk-through with the cleaner after the cleaning</h4>
            </div>
        </div>
    </div>
</div>