<div ng-if="!$ctrl.airnbn">
    <h2 class="center mt-slide-title">Do you have any pets?</h2>

    <div class="booking-form">
        <div class="row">
            <div class="col s12 m10 offset-m1">
                <div class="row">
                    <div ng-repeat="hasPet in $ctrl.lists.customFields.hasPets.options"
                         class="col s12 m6 l6 booking-frequency center-align">
                        <button ng-click="$ctrl.step_5_setPetOption(hasPet)" class="booking-btn mt-booking-hear-btn mt-service-btn waves-effect waves-light"
                                ng-class="{ 'blue': $ctrl.steps[5].has_pets.id === hasPet.id }">
                            <img class="mt-hear-img" ng-src="booking-new/images/pet-{{hasPet.id}}.png" alt="{{hasPet.label}}">
                            <span class="h3">{{hasPet.label}}</span>
                        </button>
                    </div>
                </div>
                <input type="text" style="display: none" ng-model="$ctrl.steps[5].has_pets" ng-required="true" />
            </div>
            <div class="col s12 m10 offset-m1">
                <div class="row">
                    <div class="input-field">
                        <input name="petType" type="text" ng-required="$ctrl.steps[5].has_pets.id === 25" ng-model="$ctrl.steps[5].pet_type">
                        <label class="size-change" for="petType">If you have pets, what type? (cat, dog, etc)</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
