<div ng-if="!$ctrl.airnbn">
    <h2 class="center mt-slide-title">Do you have any focus areas you'd like to mention? </h2>

    <div class="booking-form">
        <div class="row">
            <div class="col s12 m10 offset-m1">
                <div class="row">
                    <div input-field>
                        <textarea ng-model="$ctrl.steps[5].focus_areas" ng-required="true" class="materialize-textarea" ng-required="false" placeholder="i.e. 'I really want my floors to shine!' or 'bathroom sink needs a good scrub'"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
