<h2 class="center mt-slide-title">Where should we send your awesome cleaners?</h2>

<div class="booking-form">
    <div class="row">
        <div class="input-field col m10 offset-m1 s12">
            <input name="address" type="text" class="validate" ng-model="$ctrl.steps[2].address" ng-required="true">
            <label for="address" class="custom_text_size">Address *</label>
        </div>
    </div>

    <div class="row">
        <div class="input-field col m5 s12 offset-m1">
            <input name="address_2" type="text" class="validate" ng-model="$ctrl.steps[2].address_2">
            <label for="address_2" class="custom_text_size">Apt/Suite </label>
        </div>
        <div class="input-field col m5 s12">
            <input name="city" type="text" class="validate" ng-model="$ctrl.steps[2].city" ng-required="true">
            <label for="city" class="custom_text_size">City *</label>
        </div>
    </div>

    <div class="row">
        <div class="input-field col m5 s12 offset-m1">
            <input name="state" type="text" ng-model="$ctrl.steps[2].state" tabindex="-1">
            <label for="state" class="active custom_text_size">State</label>
        </div>
        <div class="input-field col m5 s12">
            <input name="zip_code" type="text" class="validate" ng-model="$ctrl.steps[2].zip_code" ng-required="true">
            <label for="zip_code" class="custom_text_size">Zip Code *</label>
        </div>
    </div>
</div>