<h2 class="center mt-slide-title">A bit about yourself:</h2>
<h4 class="center">Your contact info stays safely with us!</h4>

<div class="booking-form">
    <div class="row">
        <div class="input-field col m5 offset-m1 s12">
            <input name="first_name" type="text" class="validate" ng-model="$ctrl.steps[1].first_name" ng-required="true">
            <label class="custom_text_size" for="first_name">First Name *</label>
        </div>
        <div class="input-field col m5 s12">
            <input name="last_name" type="text" class="validate" ng-model="$ctrl.steps[1].last_name" ng-required="true">
            <label class="custom_text_size" for="last_name">Last Name *</label>
        </div>
    </div>

    <div class="row">
        <div class="input-field col m5 offset-m1 s12">
            <input name="email" type="email" ng-model="$ctrl.steps[1].email" ng-required="true">
            <label class="custom_text_size" for="email">Email *</label>
        </div>
        <div class="input-field col m5 s12">
            <input name="phone" type="text" class="validate" ng-model="$ctrl.steps[1].phone" ng-required="true">
            <label class="custom_text_size" for="phone">Phone *</label>
            <div class="newTooltip test">Why do we need this?
              <span class="tooltiptext">We’ll keep it confidential and ONLY contact you if we can’t reach you by email for something related to your booking.</span>
            </div>
        </div>
    </div>
</div>