<div ng-if="!$ctrl.airnbn">
    <h2 class="center mt-slide-title">Parking can be a pain some times</h2>
    <h4 class="center parking-subheader">Where should your awesome cleaner(s) park?</h4>

    <div class="booking-form">
        <div class="row">
            <div class="col s12 m10 offset-m1">
                <div class="row">
                    <div input-field>
                        <textarea ng-model="$ctrl.steps[5].cleaners_parking" class="materialize-textarea" ng-required="true" placeholder="Parking Instructions"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>