<h2 class="center mt-slide-title test">When would you like your amazing cleaner to come?</h2>

<!-- Date and Time -->
<div class="booking-form">
    <div class="row">
        <div class="input-field col m5 offset-m1 s12" input-field>
            <input input-date type="text" name="date" ng-model="$ctrl.steps[4].date" format="mm/dd/yyyy" select-years="5" select-months="true"
                min="{{$ctrl.step_4_mintDate}}" on-close="$ctrl.step_4_setAvailableSpots()" ng-required="true" today="false"
                close="Select" />
            <label for="date" class="active custom_text_size" style="left: 0">Choose date *</label>
        </div>

        <div class="input-field col m5 s12" input-field>
            <select ng-model="$ctrl.steps[4].spot" material-select watch ng-required="true" ng-disabled="$ctrl.step_4_chooseTime">
                <option value="Fully Booked" ng-if="!$ctrl.step_4_available_spots.length" disabled selected>Fully Booked</option>
                    <option ng-repeat="spot in $ctrl.step_4_available_spots track by $index" ng-value="spot">{{spot.end_time === undefined ? spot.time : spot.time + ' - ' + spot.end_time }}</option>
                </select>
            <label class="custom_text_size" style="left: 0">Choose Your Arrival Window *</label>
        </div>
    </div>
</div>