<h2 class="center test mt-slide-title">Want to save even more time? Extras!</h2>
<h4 class="center">More ways to let you relax</h4>

<div class="booking-form">
    <div class="row" ng-if="$ctrl.airnbn && $ctrl.steps[3].service.id !== $ctrl.step_3_greaterService">
        <h3 class="grey-text"><b>Already Included in the Vacation Rental Package</b></h3>
        <h4 class="grey-text">In addition to general cleaning, the below extras are already included as part of your vacation rental package!</h4>

        <div class="center-align" style="margin-top: 25px">
            <div class="col s4 m4 l4 booking-extra" style="min-height: 145px;">
                <div class="booking-btn booking-btn-large green lighten-1" style="cursor: default">
                    <i class="icon-nevera"></i>
                </div>

                <p class="center-align grey-text ng-binding">Inside Fridge/Oven/Microwave</p>
            </div>
    
            <div class="col s4 m4 l4 booking-extra" style="min-height: 145px;">
                <div class="booking-btn booking-btn-large green lighten-1" style="cursor: default">
                    <i class="icon-lavaplatos"></i>
                </div>

                <p class="center-align grey-text ng-binding">Dish Washing</p>
            </div>
            
            <div class="col s4 m4 l4 booking-extra" style="min-height: 145px;">
                <div class="booking-btn booking-btn-large green lighten-1" style="cursor: default">
                    <i class="icon-spray"></i>
                </div>

                <p class="center-align grey-text ng-binding">Bed Making</p>
            </div>
            
            <div class="col s4 m4 l4 booking-extra" style="min-height: 145px;">
                <div class="booking-btn booking-btn-large green lighten-1" style="cursor: default">
                    <i class="icon-spray"></i>
                </div>

                <p class="center-align grey-text ng-binding">{{$ctrl.step_3_laundryLoadQty}} Load(s) of Laundry on Site</p>
            </div>
        </div>
    </div>

    <booking-extras ng-if="$ctrl.steps[3].service.extras" extras="$ctrl.steps[3].service.extras" selected-extras="$ctrl.steps[3].extras"
        airnbn="$ctrl.airnbn"></booking-extras>
</div>