<div class="container">
    
    <div class="row" style="margin-top: 20px">
        <h1 class="mt-big-form__title">You're <span class="">60 seconds</span> away from awesome cleaning</h1>
        <div class="booking-card mt-booking-card z-depth-5">
            <div class="card-content">
                <div class="row" style="margin: 0" ng-if="!$ctrl.successPayment">
                    <div class="col m12 s12">
                        <booking-progress current-step="$ctrl.currentStep" total-steps="$ctrl.totalSteps"></booking-progress>

                        <booking-form ng-if="$ctrl.listsLoaded" steps="$ctrl.steps" current-step="$ctrl.currentStep" 
                            lists="$ctrl.lists" form-step="$ctrl.formStep" next-step="$ctrl.goNext()" airnbn="$ctrl.airnbn"></booking-form>
                    </div>

                    <div class="col m12 s12">

                    </div>
                </div>

                <div class="row" style="margin: 0" ng-if="$ctrl.successPayment">
                    <div class="row">
                        <div class="col s8 offset-s2">
                            <img class="valign responsive-img" src="booking/images/payment.svg" alt="Payment Successfull">
                        </div>
                    </div>

                    <div class="row center-align">
                        <div class="s12">
                            <h2 class="blue-text">Your order has been successfully placed</h2>
                            <p class="grey-text h4"-text>Now you can enjoy other things with your family, relax for a while, have a drink and leave the cleaning to us</p>
                            <!--<a href="/" class="booking-btn white-text" style="margin-top: 15px">Go back Home</a>-->
                        </div>
                    </div>
                </div>
            </div>

            <div class="card-action center-align" ng-if="$ctrl.currentStep !== 1">
                <button class="booking-btn-flat waves-effect" ng-click="$ctrl.goBack()" ng-if="!$ctrl.successPayment && $ctrl.currentStep !== 13" ng-disabled="$ctrl.currentStep === 1 || $ctrl.savingBooking">Back</button>
                <button class="booking-btn waves-effect waves-light" ng-click="$ctrl.goNext()" ng-if="$ctrl.currentStep < 13" ng-disabled="$ctrl.formStep.$invalid">Next Step</button>
                <button class="booking-btn waves-effect waves-light mt-book-button" ng-click="$ctrl.bookNow()" ng-if="$ctrl.currentStep === 13 && !$ctrl.successPayment" ng-disabled="$ctrl.formStep.$invalid || $ctrl.savingBooking">Book Now</button>
            </div>
        </div>
        <div class="mt-bottom-img-wrapper">
            <img src="/wp-content/themes/suncoastmaids-theme/images/road_backpacks.png" alt="road-backpacks">
        </div>
    </div>
</div>