<div ng-if="!$ctrl.airnbn">
    <h2 class="center mt-slide-title">Where did you hear about us?</h2>

    <div class="booking-form">
        <div class="row">
            <div class="col s12 m8 offset-m2">
                <div class="row">
                    <div ng-repeat="source in $ctrl.lists.customFields.source.options"
                         ng-if="source.id !== 20"
                         class="col s12 m6 l6 booking-frequency center-align">
                        <button ng-click="$ctrl.step_5_setSourceOptions(source)" class="booking-btn mt-booking-hear-btn mt-service-btn waves-effect waves-light"
                                ng-class="{'blue': $ctrl.steps[5].source.id === source.id }">
                            <img class="mt-hear-img" ng-src="booking-new/images/hear-{{source.id}}.png" alt="{{source.label}}">
                            <span class="h3">{{source.label}}</span>
                        </button>
                    </div>
                    <div class="col s12 m12 l12 booking-frequency center-align">
                        <button ng-click="$ctrl.step_5_setSourceOptions($ctrl.lists.customFields.source.options[1])" class="booking-btn mt-service-btn waves-effect waves-light"
                                ng-class="{'blue': $ctrl.steps[5].source.id === $ctrl.lists.customFields.source.options[1].id }">
                            <span class="h3">Other</span>
                        </button>
                    </div>
                    <input type="text" style="display: none" ng-model="$ctrl.steps[5].source" ng-required="true" />
                </div>
            </div>
        </div>
    </div>
</div>
