<h2 class="center test mt-slide-title">How Big Is Your Home?</h2>

<div class="booking-form">
    <div class="row test">
        <p class="login">Are you a current customer? <a href="//maidthis.launch27.com/login">Click here to log in.</a></p>
    </div>
    <div class="row">
        <div ng-repeat="service in $ctrl.lists.services" class="col s12 m6 l3 booking-frequency center-align">
            <button ng-click="$ctrl.step_3_setService(service)" class="booking-btn mt-service-btn waves-effect waves-light"
                    ng-class="{
                        'blue': $ctrl.steps[3].service.id === service.id
                    }">
                <span class="h3">{{service.name}}</span>
            </button>
        </div>

        <input type="text" style="display: none" ng-model="$ctrl.steps[3].service" ng-required="true" />
    </div>
</div>