<h2 class="center test mt-slide-title">How many man hours of cleaning do you need?</h2>
<h4 class="center">Either a 1 or 2 person team will be sent, depending on availability and the size of your home</h4>

<div class="booking-form">

    <div class="row" ng-if="$ctrl.steps[3].service.hourly">
        <div class="input-field col m5 s12" input- style="display: none">
            <select ng-model="$ctrl.steps[3].maids" material-select watch ng-required="true">
                <option ng-repeat="maids in $ctrl.steps[3].service.maidsList" ng-value="maids">{{maids}}</option>
            </select>
            <label class="custom_text_size" style="left: 0">Maids *</label>
        </div>
        <div class="input-field col m6 s12 offset-m3" input-field>
            <select ng-model="$ctrl.steps[3].hours" ng-change="$ctrl.step_2_setSourceOptions()" material-select watch ng-required="true">
                    <option ng-repeat="hours in $ctrl.steps[3].service.hoursList" ng-value="hours">{{hours}}</option>
                </select>
            <label class="custom_text_size" style="left: 0">Hours *</label>
        </div>
    </div>
</div>