<h2 class="center mt-slide-title test">How often do you want your home to sparkle?</h2>
<!-- Frequencies -->
<div ng-if="!$ctrl.airnbn">
    <h4 class="center">Its all about matching you with the perfect clean for your home. Cancel or reschedule any time. Your discounted service begins on your second cleaning.</h4>

    <div class="booking-form">
        <div class="row">
            <div class="col s12 m8 offset-m2">

                <div ng-repeat="frequency in $ctrl.lists.frequencies" class="col s12 l6 booking-frequency center-align">
                    <img ng-if="frequency.id === $ctrl.step_4_popularFrequencyId" class="booking-popular"
                         src="booking/images/estrella.png"
                         alt="Popular"/>
                    <button ng-click="$ctrl.step_4_setFrequency(frequency)" class="booking-btn waves-effect waves-light"
                            ng-class="{
                        'grey lighten-1': $ctrl.steps[4].frequency.id !== frequency.id && frequency.id !== $ctrl.step_4_popularFreqId, 
                        'blue lighten-3': $ctrl.steps[4].frequency.id !== frequency.id && frequency.id === $ctrl.step_4_popularFreqId,
                        'blue': $ctrl.steps[4].frequency.id === frequency.id
                    }">
                        <span class="">{{ frequency.id === 8 ? "2X Per Month (20% Off)" : frequency.name}}</span>
                    </button>
                </div>

                <input type="text" style="display: none" ng-model="$ctrl.steps[4].frequency" ng-required="true"/>
            </div>

        </div>
    </div>
</div>

<!-- Frequency Modal Trigger -->
<a style="display: none" data-target='oneTimeModal' modal open="$ctrl.step_4_openFreqModal">Show Frequency Modal</a>

<!-- Frequency Modal -->
<div id="oneTimeModal" class="booking-modal">
    <div class="booking-modal-content" style="padding: 15px">
        <div class="row">
            <div class="col s12 m6 center-align">
                <img class="responsive-img" style="max-height: 300px"
                     src="booking/images/booking-relaxing.jpg"
                     alt="relaxing">
            </div>
            <div class="col s12 m6">
                <h3 class="blue-text">Take back your time with a recurring service!</h3>
                <p class="flow-text" style="margin-top:20px">
                    Cancel at any time (no joke). With all the time you save NOT cleaning, enjoy a night out with 2 free
                    movie tickets after
                    1st month anniversary together :)
                </p>
            </div>
        </div>
        <div class="row center-align" style="margin: 0">
            <button class="modal-action modal-close waves-effect waves-grey booking-btn-flat">Nah!, I like cleaning my
                toilet every month
            </button>
            <button class="modal-action modal-close waves-effect waves-light booking-btn"
                    ng-click="$ctrl.step_4_setPopularFrequency()">Yes! Order recurring Cleaning
            </button>
        </div>
    </div>
</div>

<!-- Turnover Modal Trigger 5-10 -->
<a style="display: none" data-target='turnoverModal_1' modal open="$ctrl.step_4_openTurnoverModal_1">Show Turnover
    Modal</a>

<!-- Turnover Modal 5-10 -->
<div id="turnoverModal_1" class="booking-modal">
    <div class="booking-modal-content" style="padding: 15px">
        <div class="row">
            <div class="col s12 m6 center-align">
                <img class="responsive-img" style="max-height: 300px"
                     src="booking/images/booking-relaxing.jpg"
                     alt="relaxing">
            </div>
            <div class="col s12 m6">
                <h3 class="blue-text">Whoa its your lucky day!</h3>
                <p class="flow-text" style="margin-top:20px">
                    You likely qualify for a discounted rate if you book all cleanings together or purchase a bundled
                    package! Go ahead and complete
                    the booking and then contact us and we’ll get you taken care of :)
                </p>
            </div>
        </div>
        <div class="row center-align" style="margin: 0">
            <button class="modal-action modal-close waves-effect waves-grey booking-btn">Ok sweet got it!</button>
        </div>
    </div>
</div>

<!-- Turnover Modal Trigger 10+ -->
<a style="display: none" data-target='turnoverModal_2' modal open="$ctrl.step_4_openTurnoverModal_2">Show Turnover
    Modal</a>

<!-- Turnover Modal 10+ -->
<div id="turnoverModal_2" class="booking-modal">
    <div class="booking-modal-content" style="padding: 15px">
        <div class="row">
            <div class="col s12 m6 center-align">
                <img class="responsive-img" style="max-height: 300px"
                     src="booking/images/booking-relaxing.jpg"
                     alt="relaxing">
            </div>
            <div class="col s12 m6">
                <h3 class="blue-text">Your operations are about to be a lot smoother...</h3>
                <p class="flow-text" style="margin-top:20px">
                    You likely qualify for a volume discount. Go ahead and complete your booking and then schedule a
                    time to talk to our sales
                    team :)
                </p>
            </div>
        </div>
        <div class="row center-align" style="margin: 0">
            <button class="modal-action modal-close waves-effect waves-grey booking-btn">Ok sweet got it!</button>
        </div>
    </div>
</div>