<h2 class="center mt-slide-title test">Let's finalize your payment:</h2>
<h4 class="center">Enter your card information below. You will be charged AFTER service has been rendered. We do not store credit card information!
    It is saved by www.Stripe.com</h4>

<div class="booking-form">
    <div class="row">
        <div class="input-field col m10 offset-m1 s12">
            <input name="creditcard_number" type="text" class="validate booking-cc" 

            ng-model="$ctrl.steps[6].creditcard_number" payments-format="card" payments-validate="card"
                payments-type-model="$ctrl.step_6.creditcard_type" ng-class="$ctrl.step_6.creditcard_type"
                ng-required="true">
            <label for="creditcard_number" class="custom_credit_field">Credit Card Number *</label>
        </div>
        <div class="input-field col m2 s12 offset-m1">
            <input name="expiration_date" type="text" class="validate" ng-model="$ctrl.steps[6].expiration_date" payments-validate="expiry"
                payments-format="expiry" payments-length="expiry" ng-required="true">
            <label for="expiration_date" class="custom_credit_field">Expiration Date *</label>
        </div>
        <div class="input-field col m2 s12">
            <input name="card_cvc" type="text" class="validate" ng-model="$ctrl.steps[6].card_cvc" payments-validate="cvc" payments-format="cvc"
                   payments-length="cvc" ng-required="true">
            <label for="card_cvc" class="custom_credit_field">Card CVC *</label>
        </div>
        <div class="input-field col m4 s12">
            <img class="responsive-img" src="booking/images/tarjetas.png" alt="Credit Cards">
        </div>
        <div class="col m12 s12">
            <div class="input-field col m4 s12 offset-m1">
                <input name="tip" type="number" class="validate" ng-model="$ctrl.steps[6].tip" ng-model-options="{debounce: 1000}" min="0"
                       ng-change="$ctrl.step_6_getBookingEstimate()">
                <label for="tip" ng-if="!$ctrl.airnbn">TIP</label>
            </div>
            <div class="input-field col m4 s12">
                TIP (goes 100% to the cleaner, can add tip after the cleaning too!)
            </div>
        </div>
        <div class="col m12 s12">
            <div class=" col m4 s12 offset-m1">
                <div class="input-field" ng-if="!$ctrl.step_6_noLaundryDiscountUsed">
                    <input name="discount" type="text" class="validate" ng-model="$ctrl.steps[6].discount_code" ng-model-options="{debounce: 1000}"
                           ng-change="$ctrl.step_6_getBookingEstimate()">
                    <label for="discount" class="custom_credit_field">Discount code (or leave this blank)</label>
                </div>

                <div class="newTooltip test">Super Secret Hint
                    <span class="tooltiptext">Secret Hint: Currently the best promo out there is $5 off if you call us and tell us a joke after you book &#40;seriously&#41;</span>
                </div>

                <div class="input-field" ng-if="$ctrl.step_6_noLaundryDiscountUsed">
                    <h4 class="grey-text" style="margin-top: 30px; margin-bottom: 10px"><b>{{$ctrl.noLaundryDiscountCode}}</b></h4>
                    <p class="grey-text">If you want to use an extra Discount Code and NOT have the Laundry Extra, please contact us.</p>
                </div>
            </div>
        </div>

        <div class="input-field col m5 s12 offset-m1" style="display: none;">
            <input name="billing_name" type="text" class="validate" ng-model="$ctrl.steps[6].billing_name = $ctrl.steps[1].first_name + ' ' + $ctrl.steps[1].last_name" ng-required="true">
            <label for="billing_name" class="custom_credit_field">Billing Name *</label>
        </div>
        <div class="input-field col m5 s12" style="display: none;">
            <input name="address" type="text" class="validate" ng-model="$ctrl.steps[6].address = $ctrl.steps[2].address" ng-required="true">
            <label for="address" class="custom_credit_field">Billing Address *</label>
        </div>
        <div class="input-field col m5 s12 offset-m1" style="display: none;">
            <input name="city" type="text" class="validate" ng-model="$ctrl.steps[6].city = $ctrl.steps[2].city" ng-required="true">
            <label for="city" class="custom_credit_field">City *</label>
        </div>
        <div class="input-field col m5 s12" style="display: none;">
            <input name="state" type="text" class="validate" ng-model="$ctrl.steps[6].state =  $ctrl.steps[2].state" ng-required="true">
            <label for="state" class="custom_credit_field">State *</label>
        </div>
        <div class="input-field col m5 s12 offset-m1" style="display: none;">
            <input name="zip_code" type="text" class="validate" ng-model="$ctrl.steps[6].zip_code =  $ctrl.steps[2].zip_code" ng-required="true">
            <label for="zip_code" class="custom_credit_field">Zip Code *</label>
        </div>
    </div>
</div>
<div class="col m10 offset-m1 s12">
    <booking-sidebar current-step="$ctrl.currentStep" airnbn="$ctrl.airnbn"></booking-sidebar>
</div>
