.booking-card .card-content {
    min-height: 470px;
}

.booking-form {
    margin: 20px 0px;
}

.booking-form .caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 0px;
    vertical-align: middle;
    border-top: none;
    border-right: none;
    border-left: none;
    right: 5px;
}

.booking-btn i {
    text-transform: none;
    line-height: 65px;
}

.booking-extra .booking-btn {
    width: 100%;
    max-width: 150px;
}

.booking-extra p {
    margin-top: 10px !important;
}

.booking-sidebar {
    margin: 0px 0px 20px;
}

.booking-sidebar p {
    margin: 20px;
    padding: 20px;
}

.booking-icon-big {
    font-size: 3.56rem;
}

.booking-frequency {
    height: 150px;
    position: relative;
}

.booking-frequency button {
    height: 100px;
    line-height: 100px;
    text-transform: none;
    width: 100%;
}

.booking-frequency button span {
    font-size: 18px;
}

.booking-frequency .booking-popular {
    width: 70px;
    position: absolute;
    left: -5px;
    top: -20px;
    z-index: 2;
}

.booking-cc {
    background-repeat: no-repeat;
    background-position: 98% 50%;
}

.booking-cc.visa {
    background-image: url('booking/images/visa.svg');
    background-size: auto 50%;
}

.booking-cc.amex {
    background-image: url('booking/images/amex.svg');
    background-size: auto 80%;
}

.booking-cc.mastercard {
    background-image: url('booking/images/mastercard.svg');
    background-size: auto 80%;
}

.booking-cc.discover {
    background-image: url('booking/images/discover.svg');
    background-size: auto 80%;
}

.newTooltip {
    position: relative;
    display: inline-block;
    cursor: default;
    color: #0589c0;
}

.newTooltip .tooltiptext, .imgTooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: #e8e8e8;
    color: #111;
    text-align: center;
    padding: 10px 15px;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 1s;
    font-style: italic;
    font-size: 12px;
    text-align: center;
}

.newTooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 30%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #e8e8e8 transparent transparent transparent;
}

.newTooltip:hover {
    color: #000;
}

.newTooltip:hover .tooltiptext, .imgTooltip .tooltiptext {
    visibility: visible;
    opacity: 1;
    z-index: 100;
}

.input-field .custom_text_size{
    font-size:1.2em;
}

.custom_text_b{
    font-size:1.7em;
}
.custom_credit_field{
    font-size:1.1em;
}

.page-id-2319 .test, .page-id-2395 .test, .page-id-2401 .control, .page-id-2194 .test {
    /*display: none;*/
}

.test p.login {
    position: relative;
    left: 10px;
}

.page-id-2401 .twitter_box, .page-id-2401 .stay_connected_area, .page-id-2401 #menu-item-565, .page-id-2401 #menu-item-1863, .page-id-2401 .copyright_area {
    display: none;
}

.page-id-2401 .grey.lighten-1 {
    background-color: #2196F3 !important;
}

.page-id-2401 .blue {
    background-color: rgba(0, 122, 255, 0.74) !important;
}

.page-id-2401 button[ng-click="$ctrl.step_4_setFrequency(frequency)"].grey, .page-id-2401 .lighten-3 {
    background-color: #fff !important;
    color: #000;
}

.page-id-2401 footer {
    margin: 0;
}

.page-id-2401 input[ng-model="$ctrl.steps[4].date"] {
    cursor: pointer;
}

.page-id-2401 ::-webkit-input-placeholder {
  color: white;
}
.page-id-2401 ::-moz-placeholder {
  color: white;
}
.page-id-2401 :-ms-input-placeholder {
  color: white;
}
.page-id-2401 :-moz-placeholder {
  color: white;
}

.page-id-2401 .size-change {
    font-size: 1.2em !important;
}

.page-id-2401 input[name="cleaning_focus"], .page-id-2401 input[name="cleaner_park"], .page-id-2401 input[name="comments"] {
    height: 78px;
}

.page-id-2401 input[name="petType"] {
    height: 48px;
}

.page-id-2319 .topmar {
    margin-top: 24px;
}

.page-id-2401 input[type=text]:focus:not([readonly])+label, .page-id-2401 .input-field label:not(.label-icon).active {
    font-size: 9px !important;
}

.page-id-2401 .comm-margin {
    margin-top: 139px;
}

.page-id-2401 .input-field label:not(.label-icon).active.test.size-change {
    font-size: 1.2em !important;
}

.req {
    font-size: 0.7em !important;
    font-weight: 600;
    color: #2196F3;
}

.tooltiptextimg {
    text-align: center;
}

@media screen and (max-width: 991px) {
    .page-id-2401 .comm-margin {
        margin-top: 215px;
    }
    .page-id-2401 input[name="petType"] {
        height: 80px;
    }
    .page-id-2401 .hear-about {
        display: none;
    }
}

/* DELETE BELOW AFTER TEST */

.page-id-2319 .carousel, .page-id-2395 .carousel {
    height: 400px;
}



/* ADDED BY SEO1CLICK */
.i-understand-checkboxes input[type="checkbox"]+label{
    font-size: 1em;
    font-weight: normal;
}
input[type="checkbox"]+label .newTooltip .tooltiptext{
    font-weight: normal;
    line-height: 1.42857143;
}

.mt-big-form__title {
    font-size: 36px;
    margin: 20px 0 30px;
    color: #fff;
    text-align: center;
}

.mt-big-form__title span {
    color: #21D336;
}
.mt-progress {
    text-align: center;
    background: #EEEDED;
    border-radius: 15px;
    margin: 0.5rem auto 1rem auto;
    width: 50%;
    height: 18px;
}
.mt-progress .determinate {
    background: #5ECF7F;
}
.mt-booking-card {
    background: #F7F7F7;
}
.mt-slide-title {
    margin: 30px 0 20px;
}
.booking-frequency .mt-service-btn {
    background: #fff;
    line-height: normal;
    color: #000;
    transition: .2s linear;
}
.booking-frequency .mt-service-btn span {
    font-size: 18px;
}
.booking-frequency .mt-service-btn:hover {
    box-shadow: 0 2px 2px 0 rgba(0, 122, 255, 0.74), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    background: #bae1ff;
}
.booking-frequency .mt-service-btn.blue {
    background-color: rgba(0, 122, 255, 0.74) !important;
    color: #fff;
}
.booking-btn.booking-btn-large.mt-booking-btn-large {
    background-color: #fff !important;
    min-height: 160px;
    max-width: none;
    margin-bottom: 20px;
    padding-top: 15px;
    line-height: normal;
    overflow: visible;
    transition: .2s linear;
}
.booking-btn.booking-btn-large.mt-booking-btn-large:hover {
    background-color: #bae1ff !important;
}
.booking-btn.booking-btn-large.mt-booking-btn-large i {
    color: #DEDEDE;
    font-size: 3em;
}
.booking-btn.booking-btn-large.mt-booking-btn-large p {
    color: #000 !important;
}
.booking-btn.booking-btn-large.mt-booking-btn-large.blue {
    background-color: rgba(0, 122, 255, 0.74) !important;
    color: #fff !important;
}
.booking-btn.booking-btn-large.mt-booking-btn-large.blue p {
    color: #fff !important;
}
.booking-btn.booking-btn-large.mt-booking-btn-large.blue i {
    color: #fff;
}
.booking-btn.booking-btn-large.mt-booking-btn-large.blue .newTooltip {
    color: #fff;
}
textarea.materialize-textarea::placeholder {
    color: #A6A6BB;
}
.mt-progress-text {
    position: absolute;
    z-index: 1;
}
button.mt-booking-hear-btn {
    height: 140px;
}
.mt-hear-img {
    display: block;
    width: 70px;
    margin: 0 auto 10px;
}
.booking-btn.mt-book-button {
    font-size: 24px;
    padding: 15px 50px;
    height: auto;
}
.mt-bottom-img-wrapper {
    text-align: center;
    margin-top: 30px;
}
.parking-subheader {
    font-size: 26px;
}
.bold-text {
    font-weight: bold;
    font-size: 24px;
}
.loading-estimate {
    margin-top: 20px;
}

/*input.cleaners-be-able-input::-webkit-input-placeholder,*/
/*input.cleaners-be-able-input::-moz-placeholder,*/
/*input.cleaners-be-able-input:-ms-input-placeholder,*/
/*input.cleaners-be-able-input:-moz-placeholder,*/

input[type=text].cleaners-be-able-input::placeholder{
    color: #9E9E9E !important;
    font-weight: bold !important;
}

@media (max-width: 500px) {
    .container {
        width: 100% !important;
    }
    span.h3 {
        font-size: 16px;
    }
    .parking-subheader {
        font-size: 18px;
    }
}